@import "tailwindcss";

:root {
  --background: #f5f9f9;
  --foreground: #171717;
  --color-button: #540c97;
  --color-button-hover: #6b0ec4;
  --color-navbar: #1a1818;
  --color-link: #0e57c8;
  --color-link-hover: #0a3d8f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f9f9;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
